/* src/pages/HomePage.css */
.home-page {
    background-image: url('../images/bg3.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensure the background covers the entire screen */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px; /* Maximum width to accommodate the email input */
    width: 100%; /* Full width within the max-width */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  